.clock {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  position: relative;
  margin: 2rem;
}

.clock-retro {
  border: white solid 0.4rem;
  top: 5rem;
}

.clock-retro.clock::before {
  width: 20rem;
  height: 20rem;
  border: black solid 0.8rem;
  border-radius: 100%;
  content: "";
  display: block;
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
}
.clock-retro.clock::after {
  width: 20rem;
  height: 20rem;
  content: "";
  border-radius: 100%;
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  box-shadow: -3px -3px 9px rgba(255, 255, 255, 0.8);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin: auto;
  box-shadow: inset 5px 5px 35px black;
}
.clock-retro > .clock-face {
  background-color: white;
}
.clock-face::before {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 25%;
  left: 44%;
}
.clock-retro .clock-face::before {
  content: attr(data-title);
}
.clock-retro .clock-face::after {
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  content: "";
  width: 5%;
  height: 5%;
  background-color: black;
  border-radius: 100%;
}
.digital {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 70%;
  left: 34%;
}

.hand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

.hand > span {
  background-color: black;
  display: block;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

.hand-hours > span {
  width: 2%;
  height: 25%;
  top: 25%;
  left: 49%;
}
.hand-minutes > span {
  width: 1.5%;
  height: 40%;
  top: 10%;
  left: 49.25%;
}

.hand-seconds > span {
  width: 1%;
  height: 55%;
  top: 5%;
  left: 49.5%;
}

.hand-minutes,
.hand-seconds {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}
.marker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

.marker::after {
  display: block;
  position: absolute;
  content: "";
  height: 13rem;
  width: 0.5%;
  top: 0;
  left: 50%;
  border-top: 3rem solid black;
  border-bottom: 3rem solid black;
}

.marker1 {
  transform: rotateZ(30deg);
}

.marker2 {
  transform: rotateZ(60deg);
}

.marker3 {
  transform: rotateZ(90deg);
}

.marker4 {
  transform: rotateZ(120deg);
}

.marker5 {
  transform: rotateZ(150deg);
}
